

<%=link_to 'Add a new article', new_article_path %>
<ul>
<% @articles.each do |article| %>
<li><p><%= link_to article.title, article_path(article) %></p>
<p><%= article.content %></p>
<p><%= link_to 'âœðŸ½', edit_article_path(article) %></p>
<p><%= link_to 'ðŸ—‘', article_path(article), method: :delete, data: {confirm: 'Are you sure ? '} %></p>
</li>
<% end %>
</ul>


